.section-title {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 2em;
  }
  
  p {
    border-style: solid; color: brown;
    border-width: 1px;
    font-size: 16px
    
   }
  
  
  .navbar{
    background-color: black;
    padding: 20px;
  }
  
  
  #name{
    border-radius: 2em;
    margin-bottom: 15px;
  }
  
  ul * {
    text-decoration:none;
    color: olive;
  }
  
  
  .favorite-food *{
  display: inline-block;
  padding: 5px;
  }
  
  .inline-block {
  padding: 5px;
  }
  
  .hero {
    position: relative;
    top: 50px;
    left: 50px;
    text-align: center;
  }
  
  .features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  
  .footer{
    position: fixed;
    bottom: 0;
  }

  